<mat-form-field appearance="outline">
  <mat-label>Agrupar elementos por:</mat-label>
  <mat-select placeholder="Agrupados por" [(ngModel)]="groupingColumn" name="item" (ngModelChange)="buildDataSource()">
    <mat-option [value]="null">Elije un grupo</mat-option>
    <mat-option *ngFor="let item of displayedColumns" [value]="item.field">
      {{item.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- <mat-form-field appearance="outline">
  <mat-label>Ciclo escolar:</mat-label>
  <mat-select [(ngModel)]="filteredBy" placeholder="Selecciona un grado">
    <mat-option [value]="">Todos los grados</mat-option>
    <mat-option *ngFor="let key of cycleKeys" [value]="key">
      {{cycles[key]}}
    </mat-option>
  </mat-select>
  <button mat-icon-button matSuffix (click)="filterValues.controls.grade.reset();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->
<table mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col.field">
    <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
    <td mat-cell *matCellDef="let row">{{ col.field==groupingColumn?'':row[col.field] }}</td>
  </ng-container>

  <!-- Default Table lines -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  <!-- Group header cells-->
  <ng-container matColumnDef="groupHeader">
    <td colspan="999" mat-cell *matCellDef="let group">
      <strong>{{group.groupName}}</strong>
    </td>
  </ng-container>
  <ng-container matColumnDef="groupReducer">
    <mat-cell colspan="1" mat-cell *matCellDef="let group">
      <div fxFill fxLayoutAlign="center center">
        <mat-icon *ngIf="!group.reduced">expand_more</mat-icon>
        <mat-icon *ngIf="group.reduced">chevron_right</mat-icon>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Group line -->
  <tr mat-row class="clickable" *matRowDef="let row; columns: ['groupHeader','groupReducer']; when: isGroup"
    (click)="reduceGroup(row)">
  </tr>

</table>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->
