@use "./../../../../assets/themes/colors" as colors;
.selected-classroom,
.selected-classroom:hover {
  background-color: colors.$rds-logo-color;
  color: colors.$concrete-color;
  font-size: 1.2em;
}
.classrooms-list {
  //position: relative;
  //width: auto;
  //top: 0;
  left: 0;
  right: 0;
  height: 100%;
  //max-height: 100vh;
  overflow-y: auto;
  @media (max-width: 960px) {
    max-height: 80px;
  }
}
