@use "./../../../../assets/themes/colors" as colors;
.selected-classroom,
.selected-classroom:hover {
  background-color: colors.$rds-logo-color;
  color: colors.$concrete-color;
  font-size: 1.2em;
}
.classroom-list {
  height: 100%;
  //max-height: 200px;
  overflow-y: auto;
}
