<div class="text-danger" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between start">
  <h2><strong>{{data.action|titlecase}} {{data.subject}}</strong></h2>
  <mat-icon matDialogClose mat-icon-button>cancel</mat-icon>
</div>
<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <h3>{{data.title}}</h3>
  <p>{{data.message}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="data.confirm=false" matDialogClose>Cancelar</button>
  <button mat-stroked-button color="warn" (click)="data.confirm=true"
    [matDialogClose]="data">{{data.action|titlecase}}</button>
</mat-dialog-actions>
