<form [formGroup]="saveForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="color-rds" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between">
    <h2>{{data.action|titlecase}}r Usuario</h2>
    <mat-icon matDialogClose mat-icon-button>close</mat-icon>
  </div>
  <mat-dialog-content>
    <!-- Identity section -->
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
      <mat-form-field fxFlex="0 1 calc(50% - 5px)" appearance="outline">
        <mat-label>Nombre(s)</mat-label>
        <input matInput type="text" formControlName="givenName" [disabled]>
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(50% - 5px)" appearance="outline">
        <mat-label>Apellido(s)</mat-label>
        <input matInput type="text" formControlName="familyName" [disabled]="true">
      </mat-form-field>
    </div>
    <!-- Account section -->
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
      <mat-form-field fxFlex="0 1 calc(50% - 5px)" appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="text" formControlName="primaryEmail" autocomplete="email" [disabled]="true">
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(50% - 5px)" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="current-password"
          [disabled]="true">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
    <!-- Roles section -->
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
      <mat-form-field fxFlex="0 1 calc(33.3% - 5px)" fxFlex.lt-md="100%" appearance="outline">
        <mat-label>Rol de usuario:</mat-label>
        <mat-select formControlName="role">
          <mat-option value="">Sin seleccionar</mat-option>
          <mat-option *ngFor="let role of rolekeys" [value]="roles[role]">
            {{roles[role]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(33.3% - 5px)" fxFlex.lt-md="100%" appearance="outline"
        *ngIf="saveForm.controls['role'].value=='Alumnos'">
        <mat-label>Grupo</mat-label>
        <mat-select formControlName="grade">
          <mat-option value="">Sin seleccionar</mat-option>
          <mat-option *ngFor="let key of slevelKeys" [value]="slevels[key]">
            {{slevels[key]|titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(33.3% - 5px)" fxFlex.lt-md="100%" appearance="outline"
        *ngIf="saveForm.controls['role'].value=='Alumnos'">
        <mat-label>Nivel</mat-label>
        <mat-select formControlName="level">
          <mat-option value="">Sin seleccionar</mat-option>
          <mat-option *ngFor="let key of clevelKeys" [value]="clevels[key]">
            {{clevels[key]|titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Flags section -->
    <div fxLayout="column">
      <mat-checkbox color="primary" formControlName="isAdmin">
        <span>Administrador</span>
      </mat-checkbox>
      <mat-checkbox color="primary" formControlName="suspended">
        <span>Suspendido</span>
      </mat-checkbox>
      <mat-checkbox color="primary" formControlName="isHuman">
        <span>Usuario humano</span>
        <mat-icon *ngIf="data.action=='crea'" class="text-secondary"
          matTooltip="Selecciona esta opción si el usuario es una persona. Si es una cuenta asociada a un puesto o función dentro de la institución, asegúrate que esta opción esté desactivada">
          help_outline</mat-icon>
      </mat-checkbox>
      <mat-checkbox color="primary" formControlName="isInGoogle">
        <span class="text-wrap">Usuario en Google</span>
        <mat-icon *ngIf="data.action=='Crea'" class="text-secondary"
          matTooltip="Utiliza esta opción si el usuario ya tiene una cuenta @rafaeldiazserdan, pero no se encuentra en la base de datos.">
          help_outline</mat-icon>
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" (click)="close()" [matDialogClose]="">Cancelar</button>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!saveForm.dirty">{{data.action}}r</button>
  </mat-dialog-actions>
</form>