<form [formGroup]="saveForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="color-rds" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between">
    <h2>{{data.action|titlecase}}r Usuario</h2>
    <fa-icon class="text-secondary" matDialogClose mat-icon-button [icon]="faTimes" (click)="close()"></fa-icon>
  </div>
  <mat-dialog-content>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
      <mat-form-field fxFlex="0 1 calc(33.3% - 5px)" appearance="outline">
        <mat-label>Nombre(s)</mat-label>
        <input matInput type="text" formControlName="givenName">
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(33.3% - 5px)" appearance="outline">
        <mat-label>Apellido(s)</mat-label>
        <input matInput type="text" formControlName="familyName">
      </mat-form-field>
      <mat-form-field *ngIf="saveForm.controls['isHuman'].value" fxFlex="0 1 calc(30% - 5px)" appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" placeholder="Fecha de nacimiento"
          color="primary" name="dob" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutGap="5px">
      <mat-form-field *ngIf="data.user.isHuman" fxFlex="0 1 calc(33% - 5px)" fxFlex.lt-lg="100%" appearance="outline">
        <mat-label>CURP</mat-label>
        <input matInput placeholder="CURP" formControlName="curp">
      </mat-form-field>
      <mat-form-field *ngIf="data.user.role=='Alumnos' && data.user.isHuman" fxFlex="0 1 calc(33% - 5px)"
        fxFlex.lt-lg="100%" appearance="outline">
        <mat-label>NIEV</mat-label>
        <input matInput placeholder="NIEV" formControlName="niev">
      </mat-form-field>
      <mat-form-field *ngIf="(data.user.role=='Profesores'||data.user.role=='Administrativos') && data.user.isHuman"
        fxFlex="0 1 calc(33% - 5px)" fxFlex.lt-lg="100%" appearance="outline">
        <mat-label>RFC</mat-label>
        <input matInput placeholder="RFC" formControlName="rfc">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
      <mat-form-field fxFlex="0 1 calc(50% - 5px)" appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="text" formControlName="primaryEmail" autocomplete="email">
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(50% - 5px)" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="current-password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
      <div *ngIf="saveForm.controls['role'].value=='Alumnos'" fxLayout="column" fxFlex="0 1 calc(25% - 5px)">
        <mat-form-field appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select formControlName="grade">
            <mat-option value="">Sin seleccionar</mat-option>
            <mat-option *ngFor="let key of slevelKeys" [value]="slevels[key]">
              {{slevels[key]|titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nivel</mat-label>
          <mat-select formControlName="level">
            <mat-option value="">Sin seleccionar</mat-option>
            <mat-option *ngFor="let key of clevelKeys" [value]="clevels[key]">
              {{clevels[key]|titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(25% - 5px)">
        <mat-label for="role">Rol de usuario:</mat-label>
        <mat-radio-group fxLayout="column" name="role" color="primary" formControlName="role">
          <mat-radio-button *ngFor="let role of rolekeys" class="mx-2" [value]="roles[role]">
            {{roles[role]}}
          </mat-radio-button>
          <!--  <mat-radio-button class="mx-2" value="Alumnos">
            Alumno<mat-icon class="text-secondary"
              matTooltip="Participa en Google Classroom como alumno y su expediente personal se ajustara a este rol.">
              help_outline</mat-icon>
          </mat-radio-button>
          <mat-radio-button class="mx-2" value="Profesores">
            Docente <mat-icon class="text-secondary"
              matTooltip="Participa en Google Classroom como alumno o profesor y su expediente personal contiene datos laborales.">
              help_outline</mat-icon>
          </mat-radio-button>
          <mat-radio-button class="mx-2" value="Administrativos">
            Administrativo <mat-icon class="text-secondary"
              matTooltip="Participa a Google Classroom como alumno o profesor, pero no podrá iniciar clases virtuales a través de Google Meet. Su expediente personal contiene datos laborales.">
              help_outline</mat-icon>
          </mat-radio-button>
          <mat-radio-button class="mx-2" value="Otros">
            Otros<mat-icon class="text-secondary" matTooltip="Rol general sin distinción.">help_outline</mat-icon>
          </mat-radio-button> -->
        </mat-radio-group>
      </div>
      <div fxLayout="column" fxFlex="0 1 calc(25% - 5px)">
        <mat-checkbox color="primary" formControlName="isAdmin">
          <span>Administrador</span>
        </mat-checkbox>
        <mat-checkbox color="primary" formControlName="suspended">
          <span>Suspendido</span>
        </mat-checkbox>
        <mat-checkbox color="primary" formControlName="isHuman">
          <span>Usuario humano</span>
          <mat-icon *ngIf="data.action=='crea'" class="text-secondary"
            matTooltip="Selecciona esta opción si el usuario es una persona. Si es una cuenta asociada a un puesto o función dentro de la institución, asegúrate que esta opción esté desactivada">
            help_outline</mat-icon>
        </mat-checkbox>
        <mat-checkbox color="primary" formControlName="isInGoogle">
          <span class="text-wrap">Usuario en Google</span>
          <mat-icon *ngIf="data.action=='Crea'" class="text-secondary"
            matTooltip="Utiliza esta opción si el usuario ya tiene una cuenta @rafaeldiazserdan, pero no se encuentra en la base de datos.">
            help_outline</mat-icon>
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="warn" (click)="close()" [matDialogClose]="">Cancelar</button>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!saveForm.dirty">{{data.action}}r</button>
  </mat-dialog-actions>
</form>
