.main-header {
  position: absolute;
  top: 0;

  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/wellcome01.jpg");
  background-size: cover;
  position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: auto;
  z-index: 3;
}
.shadow {
  position: relative;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(0deg, #0060a140, #0060a1ff);
  background: -moz-linear-gradient(0deg, #0060a140, #0060a1ff);
  background: -ms-linear-gradient(0deg, #0060a140, #0060a1ff);
  background: -o-linear-gradient(0deg, #0060a140, #0060a1ff);
  background: linear-gradient(0deg, #0060a140, #0060a1ff);
  z-index: 5;
}

#parallax {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 10vh;
  background: url("/assets/images/parallax_house.png"),
    url("/assets/images/parallax_text.png"),
    url("/assets/images/parallax_people.png"),
    url("/assets/images/parallax_house_shadow.png"),
    url("/assets/images/parallax_text_shadow.png"),
    url("/assets/images/parallax_people_shadow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  animation: createBox 1s cubic-bezier(0.5, 0, 0.5, 1.5);
  @media (min-width: 768px) and (max-width: 991.98px) {
    background-size: 40%;
  }
  @media (max-width: 767.98px) {
    background-size: 35%;
  }
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.arrow-down {
  position: absolute;
  bottom: 8%;
  left: 5%;
  text-align: center;
  margin: auto 0;
  color: white;
  background-color: #0060a190;
}
.arrow-up {
  position: absolute;
  bottom: 16%;
  left: 5%;
  text-align: center;
  margin: auto 0;
  color: white;
  background-color: #0060a190;
}
.mat-card {
  color: white;
  background-color: #60a10050;
}

.content-about-us {
  position: relative;
  height: 100%;
  z-index: 3;
  width: 100%;
  background-image: url("/assets/images/wellcome02.jpg");
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.content-ninios {
  position: relative;
  height: 100%;
  z-index: 3;
  width: 100%;
  background-image: url("/assets/images/wellcome04.jpg");
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.content-art {
  position: relative;
  height: 100%;
  z-index: 3;
  width: 100%;
  background-image: url("/assets/images/wellcome05.jpg");
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.content-secundaria {
  position: relative;
  height: 100%;
  z-index: 3;
  width: auto;
  background-image: url("/assets/images/wellcome06.jpg");
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.section-dark {
  background: -webkit-linear-gradient(0deg, #0060a100, #0060a1ff);
  background: -moz-linear-gradient(0deg, #0060a100, #0060a1ff);
  background: -ms-linear-gradient(0deg, #0060a100, #0060a1ff);
  background: -o-linear-gradient(0deg, #0060a100, #0060a1ff);
  background: linear-gradient(0deg, #0060a100, #0060a1ff);
}
.section-title {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 2em;
  background: url("/assets/images/chalkboard_pattern.jpg") no-repeat;
  background-size: cover;
  line-height: 1.5;
  border-radius: 20px;
}

.the-story {
  font-size: 20px;
  color: #e4e4e4;
  padding: 0 0;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
