<div class="color-rds" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between start">
  <h2>Alumnos de la clase</h2>
  <mat-icon matDialogClose mat-icon-button>close</mat-icon>
</div>
<mat-dialog-content *ngIf="users$|async">
  <mat-form-field class="example-chip-list" appearance="outlined">
    <mat-label>Busca un nombre o correo electrónico</mat-label>
    <input matInput #studentInput [formControl]="filterValues.controls['fullName']" [matAutocomplete]="auto"
      (click)="focusFruitInput()" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let student of filteredEntities$|async" [value]="student.id">
        <img matListAvatar class="rounded-circle" aria-hidden [src]="student.photoUrl" height="25">&nbsp;
        <span>{{student.name.fullName}}</span>&nbsp;|&nbsp;
        <small>{{student.role|titlecase}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-chip-list #chipList aria-label="Inscripción de alumnos">
    <mat-chip *ngFor="let student of students" [selectable]="selectable" [removable]="removable"
      (removed)="remove(student.id)">
      <img matChipAvatar *ngIf="student.photoUrl" [src]="student.photoUrl" alt="{{student.name.fullName}}">
      <span>{{student.primaryEmail}}</span>
      <button matChipRemove *ngIf="removable" (click)="remove(student.id)">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <!-- <mat-list dense>
    <mat-list-item *ngFor="let student of students">
      <img matListAvatar class="img-responsive rounded-circle" aria-hidden [src]="student.photoUrl">&nbsp;
      <div matLine>{{student.name.fullName}}</div>
      <div matLine>{{student.primaryEmail}}</div>
      <mat-icon mat-icon-button class="text-danger" matListIcon (click)="remove(student.id)">close</mat-icon>
    </mat-list-item>
    <mat-list-item *ngIf="students.length===0"> No hay alumnos inscritos en este curso </mat-list-item>
  </mat-list> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="accent" matDialogClose>Cancelar</button>
  <button mat-stroked-button color="primary" (click)="saveData()">Inscribir</button>
</mat-dialog-actions>
