<mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
    <mat-header-cell *matHeaderCellDef>
      <button mat-raised-button color="{{groupByColumns.includes(column.field)?'primary':'default'}}" (click)="groupByColumns.includes(column.field)
            ? unGroupBy($event, column)
            : groupBy($event, column)
        ">
        {{ column.label }}
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row[column.field] }}</mat-cell>
  </ng-container>
  <!-- Actions-->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Hola</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onEditUser(row)">
        <mat-icon fontSet="material-icons-outlined">
          delete_forever
        </mat-icon>
      </button>
      <!-- <app-delete-button></app-delete-button> -->
    </mat-cell>
  </ng-container>
  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- Group header -->
  <ng-container matColumnDef="groupHeader">
    <mat-cell colspan="999" *matCellDef="let group">
      <mat-icon fontSet="material-icons-outlined">{{
        group.expanded ? "remove" : "add"
        }}</mat-icon>
      <strong>{{ group[groupByColumns[group.level - 1]] }} ({{group.totalCounts}})</strong>
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)">
  </mat-row>
</mat-table>
