<ng-template #spinner>
  <app-spinner [spinnerText]="'Buscando Materias...'"></app-spinner>
</ng-template>
<div *ngIf="
    !(loading$ | async) && (loaded$ | async) && (filteredCourses$ | async);
    else spinner
  ">
  <table [dataSource]="dataSource" mat-table class="w-100">
    <ng-container *ngFor="let column of columnsToDisplay; let i = index" [matColumnDef]="column.propertyName">
      <th *matHeaderCellDef mat-header-cell>
        <button [disabled]="!groupByColumns.includes(column.propertyName)" (click)="
            groupByColumns.includes(column.propertyName)
              ? unGroupBy($event, column)
              : groupBy($event, column)
          " mat-button color="{{
            groupByColumns.includes(column.propertyName) ? 'primary' : 'default'
          }}">
          {{ column.headerText }}
        </button>
      </th>
      <td *matCellDef="let row" mat-cell>
        <div [ngSwitch]="column.propertyName">
          <div *ngSwitchCase="'cycle'">
          </div>
          <div *ngSwitchCase="'grade'">
            <!-- {{ grades[row[column.propertyName]] }} -->
          </div>
          <div *ngSwitchCase="'name'">
            <div *ngIf="row.isNameEditable; else plainText" class="d-block">
              <button mat-icon-button (click)="row.isNameEditable = !row.isNameEditable">
                <mat-icon style="transform: scale(0.75);" class="text-danger">close</mat-icon>
              </button>
              <button mat-icon-button (click)="
              editProperty({id:row.id,name:row[column.propertyName]});
                row.isNameEditable=!row.isNameEmailEditable">
                <mat-icon style="transform: scale(0.75);" class="text-success">done</mat-icon>
              </button>
              <mat-form-field floatLabel="never">
                <mat-label>{{column.headerText}}</mat-label>
                <input [type]="dataSchema[column.propertyName]" matInput [(ngModel)]="row[column.propertyName]">
              </mat-form-field>
            </div>
            <ng-template #plainText>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="row.isNameEditable = !row.isNameEditable">
                  <mat-icon style="transform: scale(0.75);" class="text-warning">flash_on</mat-icon>
                </button>
                <div class="text-truncate">{{row[column.propertyName]}}</div>
              </div>
            </ng-template>
          </div>
          <div *ngSwitchCase="'teacherEmail'">
            <div *ngIf="row.isTeacherEmailEditable; else plainText" class="d-block">
              <button mat-icon-button (click)="row.isTeacherEmailEditable=!row.isTeacherEmailEditable">
                <mat-icon style="transform: scale(0.75);" class="text-danger">close</mat-icon>
              </button>
              <button mat-icon-button (click)="
              editProperty({id:row.id,teacherEmail:row[column.propertyName]});
                row.isTeacherEmailEditable=!row.isTeacherEmailEditable">
                <mat-icon style="transform: scale(0.75);" class="text-success">done</mat-icon>
              </button>
              <mat-form-field floatLabel="never">
                <mat-label>{{column.headerText}}</mat-label>
                <input [type]="dataSchema[column.propertyName]" matInput [(ngModel)]="row[column.propertyName]">
              </mat-form-field>
            </div>
            <ng-template #plainText>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="row.isTeacherEmailEditable = !row.isTeacherEmailEditable">
                  <mat-icon style="transform: scale(0.75);" class="text-warning">flash_on</mat-icon>
                </button>
                <div class="text-truncate">{{row[column.propertyName]}}</div>
              </div>
            </ng-template>
          </div>
          <span *ngSwitchDefault>
            {{row[column.propertyName]}}
          </span>

        </div>
      </td>
    </ng-container>
    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let row" mat-cell>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button (click)="openStudentsToCourse(row)" mat-icon-button style="color: #9d8500"
            [matBadge]="(row.studentsEmails && row.studentsEmails.length > 0)? row.studentsEmails.length : null">
            <mat-icon matTooltip="Asigna alumnos a esta clase">groups</mat-icon>
          </button>
          <button *ngIf="!row.teacherEmail" (click)="openTeacherToCourse(row)" mat-icon-button>
            <mat-icon matTooltip="Asigna un profesor a esta clase">
              co_present
            </mat-icon>
          </button>
          <button (click)="openSchoolCourseDialog(row)" mat-icon-button>
            <mat-icon class="text-info" matTooltip="Modifica esta materia">
              fact_check
            </mat-icon>
          </button>
          <fa-icon [icon]="faAward" (click)="openTeacherToCourse(row)" style="color: #0a6100" mat-icon-button
            matTooltip="Calificaciones" size="lg">
            task
          </fa-icon>
          <button mat-icon-button (click)="deleteSchoolCourse(row)">
            <mat-icon (click)="deleteSchoolCourse(row)" color="warn" matTooltip="Elimina esta clase">
              delete
            </mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tbody>
      <ng-container matColumnDef="noData">
        <tr *matFooterCellDef [attr.colspan]="999" class="d-block" mat-footer-cell>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="text-black-50">
              Aún no hay elementos en esta lista.
            </h2>
          </div>
        </tr>
      </ng-container>

      <ng-container matColumnDef="groupHeader">
        <td mat-cell *matCellDef="let group" [attr.colspan]="displayedColumns.length + 1"
          [ngClass]="{'cycle-header': (group.level===1),'grade-header':(group.level===2)}" class="mat-h{{ 4 - group.level }} border-bottom-0 px-{{
          group.level + 3
        }}">
          {{ (group.level === 1) ? cycles[group[groupByColumns[group.level - 1]]] :
          (group.level === 2) ? grades[group[groupByColumns[group.level - 1]]] :
          [group[groupByColumns[group.level - 1]]] }} ({{ group.totalCounts }})
          <mat-icon>{{ group.expanded ? "expand_more" : "chevron_right" }} </mat-icon>
        </td>
      </ng-container>
      <th mat-header-row *matHeaderRowDef="displayedColumns"></th>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource.data.length > 0"></tr>
      <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isTableGroup" (click)="groupHeaderClick(row)">
      </tr>
    </tbody>
  </table>
</div>
