<ng-template #spinner>
  <div style="min-height: 300px" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" strokeWidth="5">
    </mat-spinner>
    <span>Buscando ...</span>
    <br>
  </div>
</ng-template>
<div *ngIf="
    !(loading$ | async) && (loaded$ | async) && (filteredCourses$ | async);
    else spinner
  ">
  <table [dataSource]="dataSource" mat-table class="w-100">
    <ng-container *ngFor="let column of columnsToDisplay; let i = index" [matColumnDef]="column.propertyName">
      <th *matHeaderCellDef mat-header-cell>
        <button [disabled]="!groupByColumns.includes(column.propertyName)" (click)="
            groupByColumns.includes(column.propertyName)
              ? unGroupBy($event, column)
              : groupBy($event, column)
          " mat-button color="{{
            groupByColumns.includes(column.propertyName) ? 'primary' : 'default'
          }}">
          {{ column.headerText }}
        </button>
      </th>
      <div [ngSwitch]="column.propertyName">
        <div *ngSwitchCase="'cycle'">
          <td *matCellDef="let row" mat-cell>
            <!-- {{cycles[row[column.field]]}} -->
          </td>
        </div>
        <div *ngSwitchCase="'grade'">
          <td *matCellDef="let row" mat-cell>
            <!-- {{ grades[row[column.propertyName]] }} -->
          </td>
        </div>

        <div *ngSwitchDefault>
          <td *matCellDef="let row" mat-cell>
            {{ row[column.propertyName] }}
          </td>
        </div>
      </div>
    </ng-container>
    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let row" mat-cell>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <!-- <mat-icon color="accent" mat-icon-button matTooltip="Modifica la información de esta clase" >
            edit</mat-icon> -->
          <button (click)="openStudentsToCourse(row)" mat-icon-button style="color: #9d8500"
            [matBadge]="(row.studentsEmails && row.studentsEmails.length > 0)? row.studentsEmails.length : null">
            <mat-icon matTooltip="Asigna alumnos a esta clase">groups</mat-icon>
          </button>
          <button *ngIf="!row.teacherEmail" (click)="openTeacherToCourse(row)" mat-icon-button>
            <mat-icon matTooltip="Asigna un profesor a esta clase">
              co_present
            </mat-icon>
          </button>
          <button (click)="openSchoolCourseDialog(row)" mat-icon-button>
            <mat-icon matTooltip="Modifica esta materia">
              edit
            </mat-icon>
          </button>
          <fa-icon [icon]="faAward" (click)="openTeacherToCourse(row)" style="color: #0a6100" mat-icon-button
            matTooltip="Calificaciones" size="lg">
            task
          </fa-icon>
          <button mat-icon-button (click)="deleteSchoolCourse(row)">
            <mat-icon (click)="deleteSchoolCourse(row)" color="warn" matTooltip="Elimina esta clase">
              delete
            </mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tbody>
      <ng-container matColumnDef="noData">
        <tr *matFooterCellDef [attr.colspan]="999" class="d-block" mat-footer-cell>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="text-black-50">
              Aún no hay elementos en esta lista.
            </h2>
          </div>
        </tr>
      </ng-container>

      <ng-container matColumnDef="groupHeader">
        <td mat-cell *matCellDef="let group" [attr.colspan]="displayedColumns.length + 1"
          [ngClass]="{'cycle-header': (group.level===1),'grade-header':(group.level===2)}" class="mat-h{{ 4 - group.level }} border-bottom-0 px-{{
          group.level + 3
        }}">
            {{ (group.level === 1) ? cycles[group[groupByColumns[group.level - 1]]] :
            (group.level === 2) ? grades[group[groupByColumns[group.level - 1]]] :
            [group[groupByColumns[group.level - 1]]] }} ({{ group.totalCounts }})
            <mat-icon>{{ group.expanded ? "expand_more" : "chevron_right" }} </mat-icon>
        </td>
      </ng-container>
      <th mat-header-row *matHeaderRowDef="displayedColumns"></th>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openSchoolCourseDialog(row)"></tr>
      <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource.data.length > 0"></tr>
      <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isTableGroup" (click)="groupHeaderClick(row)">
      </tr>
    </tbody>
  </table>
</div>
