.school-background {
  width: 50%;
  height: 150px;
  max-height: 200px;
  background: url("/assets/images/rds-draw02.svg") no-repeat;
  background-position: bottom left;
  //background-size: cover;
}
