<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="isOnline" #leftSidenav class="sidenav d-print-none bg-transparent" [fixedInViewport]="false"
    [attr.role]="isHandset ? 'dialog' : 'navigation'" [@onSideNavChange]="sideNavState ? 'open' : 'close'"
    [mode]="'side'" [opened]="isHandset === false">
    <div role="navigation" fxLayout="column" fxLayoutAlign="space-between" fxFlexFill>
      <mat-nav-list dense>
        <mat-list-item [routerLink]="['/']" routerLinkActive="active">
          <mat-icon matListIcon>home</mat-icon>
          <span matLine [@animateText]="linkText ? 'show' : 'hide'">Inicio</span>
        </mat-list-item>
        <mat-list-item *ngIf="isTeacher || isAdmin" [routerLink]="['gsuite']" routerLinkActive="active">
          <fa-icon matListIcon [icon]="faGoogle"></fa-icon>
          <span matLine [@animateText]="linkText ? 'show' : 'hide'">GSuite</span>
        </mat-list-item>
        <mat-list-item *ngIf="isTeacher || isAdmin" [routerLink]="['escuela']" routerLinkActive="active">
          <mat-icon matListIcon>apartment</mat-icon>
          <span matLine [@animateText]="linkText ? 'show' : 'hide'">Dirección</span>
        </mat-list-item>
        <mat-list-item *ngIf="isTeacher" [routerLink]="['profesores']" routerLinkActive="active">
          <mat-icon matListIcon>co_present</mat-icon>
          <span matLine [@animateText]="linkText ? 'show' : 'hide'">Profesores</span>
        </mat-list-item>
        <!-- <h3 matSubheader [@animateText]="linkText ? 'show' : 'hide'">Alumnos</h3> -->
        <mat-list-item [routerLink]="['user']" routerLinkActive="active">
          <mat-icon matListIcon>school</mat-icon>
          <span matLine [@animateText]="linkText ? 'show' : 'hide'">Alumnos</span>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list dense>
        <mat-accordion mat-list-item [displayMode]="flat" [multi]="true" dense>
          <mat-expansion-panel [disabled]="!isAdmin" [class.mat-elevation-z0]="true" hideToggle>
            <mat-expansion-panel-header>
              <mat-icon matListIcon>admin_panel_settings</mat-icon>
              <span matLine [@animateText]="linkText ? 'show' : 'hide'">Usuarios</span>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-nav-list dense>
                <mat-list-item [routerLink]="['users']" routerLinkActive="active" (click)="leftSidenav.close()">
                  <mat-icon matListIcon>people_alt</mat-icon>
                  <span matLine [@animateText]="linkText ? 'show' : 'hide'">Escuela</span>
                </mat-list-item>
                <mat-list-item [routerLink]="['admin']" routerLinkActive="active" (click)="leftSidenav.close()">
                  <mat-icon matListIcon>domain</mat-icon>
                  <span matLine [@animateText]="linkText ? 'show' : 'hide'">Google</span>
                </mat-list-item>
              </mat-nav-list>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-list-item (click)="onSidenavToggle()">
          <fa-icon matListIcon [icon]="sideNavState ? faCompressAlt : faExpandAlt"></fa-icon>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [@onMainContentChange]="(onSideNavChange) ? 'open': 'close'">
    <ng-content #progressBar></ng-content>
    <app-main [isOnline]="isOnline"></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
