<div fxLayout="row" fxLayout="stretch center">
  <mat-list dense>
    <h3 matSubheader>Materias</h3>
    <mat-list-item *ngIf="(!classroom.coursesIds||classroom.coursesIds.length===0);else coursesList" mat-icon-button
      (click)="assignCoursesToClassroom(classroom)">
      <mat-icon>sync alt</mat-icon>
    </mat-list-item>
    <ng-template #coursesList>
      <mat-list-item *ngFor="let course of classroom.courses;let i = index" [attr.data-index]="i">
        <div mat-line>{{i+1}}. {{course.name}}</div>
      </mat-list-item>
    </ng-template>
  </mat-list>

  <mat-list dense>
    <h3 matSubheader>Alumnos</h3>
    <mat-list-item *ngIf="(!classroom.students||classroom.students.length<1);else studentsList">
      <mat-icon matListIcon mat-button-icon (click)="lookForStudents(classroom)">search</mat-icon>
      <div mat-line>No hay alumnos
        en este grupo
      </div>
    </mat-list-item>
    <ng-template #studentsList>
      <mat-list-item *ngFor="let student of classroom.students">
        <div mat-line>{{student.name.fullName}}</div>
      </mat-list-item>
    </ng-template>
  </mat-list>
</div>
