<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div *ngIf="classrooms$|async as classrooms" class="card bg-transparent">
    <div class="card-body">
      <div class="float-end">
        <button mat-icon-button [matMenuTriggerFor]="newMenu">
          <mat-icon matTooltip="Nuevo grupo o materia">add</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="fileMenu">
          <mat-icon matTooltip="Cargar archivo de Excel">upload</mat-icon>
        </button>
      </div>
    </div>
    <app-school-classroom-list [classrooms]="classrooms" (onClassroomShow)="notify($event)"
      (onCycleChange)="setFilter($event)">
    </app-school-classroom-list>
  </div>
  <div *ngIf="classroom$|async as classroom" class="card bg-transparent">
    <div class="card-body">
      <div class="float-end">
        <button mat-icon-button (click)="classroomToPDF(classroom)">
          <mat-icon matTooltip="Imprime lista de grupo">receipt_long</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openSchoolClassroomDialog(classroom)">
            <mat-icon color="accent">edit</mat-icon>Modificar
          </button>
          <button mat-menu-item (click)="deleteClassroom(classroom)">
            <mat-icon color="warn">delete</mat-icon>Eliminar
          </button>
        </mat-menu>
      </div>
      <h3 style="margin-top: -30px" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column">
          <span class="view-title-small">{{levels[classroom.grade]}}</span>
          <span class="view-subtitle-small">{{cycles[classroom.cycle]}}</span>
        </div>
      </h3>
      <app-school-classroom-details [classroom]="classroom" (onClassroomEmit)="notify($event)">
      </app-school-classroom-details>
    </div>
  </div>
</div>



<mat-menu #newMenu="matMenu" fxLayoutAlign="right">
  <ng-template matMenuContent>
    <div mat-menu-item (click)="openSchoolClassroomDialog()">Nuevo grupo</div>
    <div mat-menu-item (click)="openSchoolCourseDialog()">Nueva materia</div>
  </ng-template>
</mat-menu>
<mat-menu #fileMenu="matMenu" fxLayoutAlign="right">
  <ng-template matMenuContent>
    <div mat-menu-item (click)="loadClassroomFile()">Importar grupos</div>
    <div mat-menu-item (click)="loadCoursesFile()">Importar materias</div>
  </ng-template>
</mat-menu>
<ng-template #spinner>
  <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="5" [diameter]="50">
    </mat-spinner>
    <span>Buscando ...</span><br>
  </div>
</ng-template>
