.mat-toolbar {
  min-height: 50px !important;
  .mat-toolbar-row {
    max-height: 50px !important;
  }
}
.fancy-button {
  color: white;
  span {
    font-size: 1.5rem;
    font-family: "Rubik", "sans-serif";
  }
}
