<div class="p-4">
  <p class="view-title">Dirección</p>
  <p class="view-subtitle">Gestiona usuarios, grupos, clases y horarios en la institución.</p>
  <div *ngIf="(enrollment$|async) as enrollment" class="py-2">
    <!-- <ng-template #spinner>
      <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner strokeWidth="5" [diameter]="50">
        </mat-spinner>
        <span>Buscando ...</span><br>
      </div>
    </ng-template> -->
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="10px"
      fxLayoutGap.lt-sm="2px">
      <mat-form-field fxFlex="1 0 calc(60% - 10px)" appearance="outline">
        <mat-label>Ciclo escolar</mat-label>
        <mat-select [(ngModel)]="selectedId" placeholder="Selecciona un ciclo escolar">
          <mat-option [value]="">Selecciona un ciclo escolar</mat-option>
          <mat-option *ngFor="let key of (enrollments$|async)" [value]="key.id">
            {{key.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="1 0 calc(20% - 10px)">
        <button mat-raised-button matTooltip="Nuevo ciclo escolar" (click)="openEnrollmentDialog()">
          Nuevo ciclo escolar
        </button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxFlex="1 0 calc(50% - 5px)">
        <app-enrollment [enrollment]="enrollment"></app-enrollment>
      </div>
      <div fxFlex="1 0 calc(50% - 5px)">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<button mat-fab id="new-user" matTooltip="Nuevo usuario" (click)="openSaveUser()">
  <mat-icon>person_add</mat-icon>
</button>
