<div class="color-rds" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between start">
  <h2>Cargar archivo</h2>
  <mat-icon matDialogClose mat-icon-button>cancel</mat-icon>
</div>

<mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <input type="file" (change)="onFileChange($event)" multiple="true" />
    <button mat-button *ngIf="data.output.length>0" (click)="selectAll()">Seleccionar todos</button>
  </div>

  <mat-selection-list #selCourses>
    <mat-list-option *ngFor="let dato of data.output;">
      <div mat-line>{{dato.priority}}. {{dato.name}} - {{dato.grade}}</div>
      <mat-icon class="text-{{dato.isImported?'success':'primary'}}" matListIcon>{{dato.isImported?'verified':'update'}}
      </mat-icon>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="data" mat-stroked-button color="accent" type="reset" (click)="deselectAll()">Limpiar selección</button>
  <button *ngIf="!data" mat-stroked-button color="warn" matDialogClose>Cancelar</button>
  <button [disabled]="importing || selCourses.selectedOptions.selected.length<1" mat-raised-button color="primary"
    (click)="import()"><span [ngClass]="{'spinner-grow':importing, 'spinner-grow-sm':importing}" role="status"
      aria-hidden="true">Importar
      ({{selCourses.selectedOptions.selected.length}})</span>
  </button>
</mat-dialog-actions>
