@import "./../../../../../assets/themes/colors.scss";
td.mat-column-name {
  word-wrap: normal !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: fit-content;
  max-width: 200px;
  overflow-wrap: inherit;
  word-break: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
td.mat-column-courseState,
td.mat-column-actions {
  width: fit-content;
  max-width: 10%;
  word-wrap: break-word !important;
  white-space: unset !important;
  //flex: 0 0 20% !important;
  //width: 100% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
