<div *ngIf="!(isLoading$ | async)">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Búsqueda...</mat-panel-title>
        <mat-panel-description>(por nombre, status y fecha de creación)</mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="searchForm">
        <div fxLayout="row flex" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="end"
          fxLayout.lt-md="column">
          <mat-form-field class="my-n2" fxFlex="0 1 calc(33% - 5px)" fxFlex.lt-md="100%" appearance="outline">
            <mat-label>Busca una clase por nombre</mat-label>
            <input matInput type="search" class="dc-search" placeholder="Search Course" (keyup)="applyFilter()"
              formControlName="name" (click)="searching = true" />
            <button mat-icon-button matSuffix (click)="name = ''; applyFilter(''); searching = !searching"
              color="accent">
              <mat-icon *ngIf="!searching">search</mat-icon>
              <mat-icon *ngIf="searching">clear</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="my-n2" fxFlex="0 1 calc(33% - 5px)" fxFlex.lt-md="100%" appearance="outline">
            <mat-label>Estado del curso</mat-label>
            <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="selectedStates"
              (selectionChange)="applyFilter($event.value)" type="text" placeholder="Todos" multiple>
              <mat-option *ngFor="let key of keys" [value]="states[key]">
                {{ states[key] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="my-n2" fxFlex="0 1 calc(33% - 5px)" fxFlex.lt-md="100%" appearance="outline">
            <mat-label>Fecha de creación</mat-label>
            <input matInput formControlName="creationTime" [matDatepicker]="picker" (dateInput)="applyFilter()" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <table mat-table class="w-100" matSort aria-label="Course work table">
    <ng-container [matColumnDef]="column.propertyName" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
      <td mat-cell *matCellDef="let row">
        <!-- <div [ngSwitch]="column.propertyName"> -->
        <div *ngIf="column.propertyName==='actions'">
          <button mat-icon-button [routerLink]="[row.id]">
            <mat-icon style="transform: scale(0.75);" class="text-info">article</mat-icon>
          </button>
        </div>
        <div *ngIf="column.propertyName==='courseState'">
          <div [ngSwitch]="row[column.propertyName]">
            <div *ngSwitchCase="'COURSE_STATE_UNSPECIFIED'">
              <fa-icon [icon]="faExclamation" size="lg"></fa-icon>
            </div>
            <div *ngSwitchCase="'ACTIVE'">
              <fa-icon class="text-success" matTooltip="Activo" [icon]="faCheck" size="lg"></fa-icon>
            </div>
            <div *ngSwitchCase="'ARCHIVED'">
              <fa-icon class="text-warning" matTooltip="Archivado" [icon]="faFileArchive" size="lg"></fa-icon>
            </div>
            <div *ngSwitchCase="'PROVISIONED'">
              <fa-icon class="text-info" matTooltip="Provisional" [icon]="faScrewdriver" size="lg"></fa-icon>
            </div>
            <div *ngSwitchCase="'DECLINED'">
              <fa-icon class="text-danger" matTooltip="Rechazado" [icon]="faTimes" size="lg"></fa-icon>
            </div>
            <div *ngSwitchCase="'SUSPENDED'">
              <fa-icon class="text-dark" matTooltip="Suspendido" [icon]="faBan" size="lg"></fa-icon>
            </div>
          </div>
        </div>
        <div *ngIf="column.propertyName==='section'">
          <div *ngIf="row.isSectionEditable; else plainText" class="d-block">
            <button mat-icon-button (click)="row.isSectionEditable=!row.isSectionEditable">
              <mat-icon style="transform: scale(0.75);" class="text-danger">close</mat-icon>
            </button>
            <button mat-icon-button (click)="
            editProperty(row.id,{id:row.id,name:row.name,section:row.section,courseState:row.courseState});
                  row.isSectionEditable=!row.isSectionEditable">
              <mat-icon style="transform: scale(0.75);" class="text-success">done</mat-icon>
            </button>
            <mat-form-field floatLabel="never">
              <mat-label>{{column.label}}</mat-label>
              <input [type]="dataSchema[column.propertyName]" matInput [(ngModel)]="row[column.propertyName]">
            </mat-form-field>
          </div>
          <ng-template #plainText>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button (click)="row.isSectionEditable=!row.isSectionEditable">
                <mat-icon style="transform: scale(0.75);" class="text-warning">bolt</mat-icon>
              </button>
              <div class="text-truncate">{{row[column.propertyName]}}</div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="column.propertyName==='name'">
          <div *ngIf="row.isNameEditable; else plainText" class="d-block">
            <button mat-icon-button (click)="row.isNameEditable=!row.isNameEditable">
              <mat-icon style="transform: scale(0.75);" class="text-danger">close</mat-icon>
            </button>
            <button mat-icon-button (click)="
            editProperty(row.id,{id:row.id,name:row.name,section:row.section,courseState:row.courseState});
                  row.isNameEditable=!row.isNameEditable">
              <mat-icon style="transform: scale(0.75);" class="text-success">done</mat-icon>
            </button>
            <mat-form-field floatLabel="never">
              <mat-label>{{column.label}}</mat-label>
              <input [type]="dataSchema[column.propertyName]" matInput [(ngModel)]="row[column.propertyName]">
            </mat-form-field>
          </div>
          <ng-template #plainText>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button (click)="row.isNameEditable=!row.isNameEditable">
                <mat-icon style="transform: scale(0.75);" class="text-warning">bolt</mat-icon>
              </button>
              <div class="text-truncate">{{row[column.propertyName]}}</div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="column.propertyName==='room'">
          <div *ngIf="row.isRoomEditable; else plainText" class="d-block">
            <button mat-icon-button (click)="row.isRoomEditable=!row.isRoomEditable">
              <mat-icon style="transform: scale(0.75);" class="text-danger">close</mat-icon>
            </button>
            <button mat-icon-button (click)="
            editProperty(row.id,{id:row.id,name:row.name,section:row.section,courseState:row.courseState});
                  row.isRoomEditable=!row.isRoomEditable">
              <mat-icon style="transform: scale(0.75);" class="text-success">done</mat-icon>
            </button>
            <mat-form-field floatLabel="never">
              <mat-label>{{column.label}}</mat-label>
              <input [type]="dataSchema[column.propertyName]" matInput [(ngModel)]="row[column.propertyName]">
            </mat-form-field>
          </div>
          <ng-template #plainText>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button (click)="row.isRoomEditable=!row.isRoomEditable">
                <mat-icon style="transform: scale(0.75);" class="text-warning">bolt</mat-icon>
              </button>
              <div class="text-truncate">{{row[column.propertyName]}}</div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="column.propertyName==='creationTime'">
          {{ row[column.propertyName]|date:'MMM d, y, h:mm:ss a' }}
        </div>
        <!-- </div> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="noRecord">
      <tr mat-footer-cell *matFooterCellDef class="text-danger">
        No hay resultados que coincidan con la búsqueda.
      </tr>
    </ng-container>

    <th mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></th>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="course-row"></tr>
    <!-- Row shown when there is no matching data.-->
    <tr mat-footer-row *matFooterRowDef="!dataSource.data.length ? ['noRecord'] : []" colSpan="3"
      style="text-align: center;">
    </tr>
  </table>
  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageSize]="10" [pageIndex]="0"
    [pageSizeOptions]="[5, 10, 20, 50, 100]">
  </mat-paginator>
</div>
