<div class="color-rds" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between">
  <h2>Migración</h2>
  <mat-icon matDialogClose mat-icon-button>close</mat-icon>
</div>
<mat-dialog-content>
  <div>¿Desea comenzar la migración de Usuarios? Este proceso puede tardar varios minutos.</div>
  <button mat-button (click)="startCounter()">Comenzar</button>
  <mat-progress-bar mode="determinate" [value]="progress" (animationEnd)="progressInLoading()"></mat-progress-bar>
  <div class="progress-bar-container">
    <div class="progress-bar {{color}}" [ngStyle]="{'width': progress + '%'}">
    </div>
  </div>
</mat-dialog-content>