<div class="container">
  <div class="main">
    <section class="row">
      <div class="calendar">
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Agosto</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day receso" style="order:7">1</div>
          <div class="day receso" style="order:8">2</div>
          <div class="day receso" style="order:9">3</div>
          <div class="day receso" style="order:10">4</div>
          <div class="day receso" style="order:11">5</div>
          <div class="day receso" style="order:12">6</div>
          <div class="day receso" style="order:13">7</div>
          <div class="day receso" style="order:14">8</div>
          <div class="day receso" style="order:15">9</div>
          <div class="day receso" style="order:16">10</div>
          <div class="day padres" style="order:17">11</div>
          <div class="day padres" style="order:18">12</div>
          <div class="day padres" style="order:19">13</div>
          <div class="day receso" style="order:20">14</div>
          <div class="day receso" style="order:21">15</div>
          <div class="day ins_start" style="order:22">16</div>
          <div class="day actualizacion" style="order:23">17</div>
          <div class="day actualizacion" style="order:24">18</div>
          <div class="day actualizacion" style="order:25">19</div>
          <div class="day actualizacion" style="order:26">20</div>
          <div class="day receso" style="order:27">21</div>
          <div class="day receso" style="order:28">22</div>
          <div class="day consejo" style="order:29">23</div>
          <div class="day receso consejo" style="order:30">24</div>
          <div class="day consejo" style="order:31">25</div>
          <div class="day consejo" style="order:32">26</div>
          <div class="day consejo" style="order:33">27</div>
          <div class="day receso" style="order:34">28</div>
          <div class="day receso" style="order:35">29</div>
          <div class="day inici" style="order:36">30</div>
          <div class="day abandono-der abandono-izq abandono-sup abandono-inf" style="order:37">31</div>
          <div class="day" style="order:38"> </div>
          <div class="day" style="order:39"> </div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Septiembre</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day abandono-sup abandono-izq" style="order:10">1</div>
          <div class="day abandono-sup" style="order:11">2</div>
          <div class="day abandono-sup abandono-der" style="order:12">3</div>
          <div class="day" style="order:13">4</div>
          <div class="day" style="order:14">5</div>
          <div class="day abandono-inf abandono-sup abandono-izq" style="order:15">6</div>
          <div class="day abandono-inf abandono-sup" style="order:16">7</div>
          <div class="day abandono-inf" style="order:17">8</div>
          <div class="day abandono-inf" style="order:18">9</div>
          <div class="day  abandono-inf ins_fin abandono-der" style="order:19">10</div>
          <div class="day" style="order:20">11</div>
          <div class="day" style="order:21">12</div>
          <div class="day recuperacion-sup recuperacion-izq" style="order:22">13</div>
          <div class="day  recuperacion-sup" style="order:23">14</div>
          <div class="day recuperacion-sup" style="order:24">15</div>
          <div class="day suspension  recuperacion-sup strong" style="order:25">16</div>
          <div class="day recuperacion-sup  recuperacion-der" style="order:26">17</div>
          <div class="day" style="order:27">18</div>
          <div class="day" style="order:28">19</div>
          <div class="day  recuperacion-izq" style="order:29">20</div>
          <div class="day" style="order:30">21</div>
          <div class="day" style="order:31">22</div>
          <div class="day" style="order:32">23</div>
          <div class="day  recuperacion-der  recuperacion-inf" style="order:33">24</div>
          <div class="day" style="order:34">25</div>
          <div class="day" style="order:35">26</div>
          <div class="day  recuperacion-inf  recuperacion-izq" style="order:36">27</div>
          <div class="day recuperacion-inf" style="order:37">28</div>
          <div class="day recuperacion-inf" style="order:38">29</div>
          <div class="day recuperacion-inf  recuperacion-der" style="order:39">30</div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Octubre</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day" style="order:10"> </div>
          <div class="day" style="order:11"> </div>
          <div class="day  recuperacion-sup  recuperacion-izq recuperacion-der" style="order:12">1</div>
          <div class="day" style="order:13">2</div>
          <div class="day fundacion" style="order:14">3</div>
          <div class="day recuperacion-sup  recuperacion-izq" style="order:15">4</div>
          <div class="day recuperacion-sup" style="order:16">5</div>
          <div class="day recuperacion-sup" style="order:17">6</div>
          <div class="day recuperacion-sup" style="order:18">7</div>
          <div class="day recuperacion-der" style="order:19">8</div>
          <div class="day" style="order:20">9</div>
          <div class="day" style="order:21">10</div>
          <div class="day recuperacion-izq" style="order:22">11</div>
          <div class="day" style="order:23">12</div>
          <div class="day" style="order:24">13</div>
          <div class="day" style="order:25">14</div>
          <div class="day recuperacion-der" style="order:26">15</div>
          <div class="day" style="order:27">16</div>
          <div class="day" style="order:28">17</div>
          <div class="day recuperacion-izq" style="order:29">18</div>
          <div class="day" style="order:30">19</div>
          <div class="day" style="order:31">20</div>
          <div class="day" style="order:32">21</div>
          <div class="day recuperacion-der" style="order:33">22</div>
          <div class="day" style="order:34">23</div>
          <div class="day" style="order:35">24</div>
          <div class="day recuperacion-inf  recuperacion-izq" style="order:36">25</div>
          <div class="day recuperacion-inf" style="order:37">26</div>
          <div class="day recuperacion-inf " style="order:38">27</div>
          <div class="day recuperacion-inf" style="order:39">28</div>
          <div class="day recuperacion-inf  recuperacion-der consejo" style="order:40">29</div>
          <div class="day" style="order:41">30</div>
          <div class="day" style="order:42">31</div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Noviembre</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day recuperacion-sup recuperacion-izq suspension" style="order:8">1</div>
          <div class="day suspension recuperacion-sup" style="order:9">2</div>
          <div class="day recuperacion-sup" style="order:10">3</div>
          <div class="day recuperacion-sup" style="order:11">4</div>
          <div class="day recuperacion-sup recuperacion-der" style="order:12">5</div>
          <div class="day" style="order:13">6</div>
          <div class="day" style="order:14">7</div>
          <div class="day recuperacion-izq" style="order:15">8</div>
          <div class="day" style="order:16">9</div>
          <div class="day" style="order:17">10</div>
          <div class="day" style="order:18">11</div>
          <div class="day recuperacion-der administrativa" style="order:19">12</div>
          <div class="day" style="order:20">13</div>
          <div class="day" style="order:21">14</div>
          <div class="day recuperacion-izq suspension" style="order:22">15</div>
          <div class="day" style="order:23">16</div>
          <div class="day recuperacion-inf" style="order:24">17</div>
          <div class="day recuperacion-inf" style="order:25">18</div>
          <div class="day recuperacion-inf recuperacion-der" style="order:26">19</div>
          <div class="day strong" style="order:27">20</div>
          <div class="day" style="order:28">21</div>
          <div class="day recuperacion-izq recuperacion-inf" style="order:29">22</div>
          <div class="day recuperacion-inf recuperacion-der" style="order:30">23</div>
          <div class="day boletas-sup boletas-izq boletas-inf" style="order:31">24</div>
          <div class="day boletas-sup boletas-der boletas-inf" style="order:32">25</div>
          <div class="day consejo" style="order:33">26</div>
          <div class="day" style="order:34">27</div>
          <div class="day" style="order:35">27</div>
          <div class="day boletas-sup boletas-izq boletas-inf" style="order:36">29</div>
          <div class="day boletas-sup boletas-der boletas-inf" style="order:37">30</div>
          <div class="day" style="order:38"> </div>
          <div class="day" style="order:39"> </div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Diciembre</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day" style="order:10">1</div>
          <div class="day" style="order:11">2</div>
          <div class="day" style="order:12">3</div>
          <div class="day" style="order:13">4</div>
          <div class="day" style="order:14">5</div>
          <div class="day" style="order:15">6</div>
          <div class="day" style="order:16">7</div>
          <div class="day" style="order:17">8</div>
          <div class="day" style="order:18">9</div>
          <div class="day" style="order:19">10</div>
          <div class="day" style="order:20">11</div>
          <div class="day" style="order:21">12</div>
          <div class="day" style="order:22">13</div>
          <div class="day" style="order:23">14</div>
          <div class="day" style="order:24">15</div>
          <div class="day" style="order:25">16</div>
          <div class="day" style="order:26">17</div>
          <div class="day" style="order:27">18</div>
          <div class="day" style="order:28">19</div>
          <div class="day vacaciones" style="order:29">20</div>
          <div class="day vacaciones" style="order:30">21</div>
          <div class="day vacaciones" style="order:31">22</div>
          <div class="day vacaciones" style="order:32">23</div>
          <div class="day vacaciones" style="order:33">24</div>
          <div class="day strong" style="order:34">25</div>
          <div class="day" style="order:35">26</div>
          <div class="day vacaciones" style="order:36">27</div>
          <div class="day vacaciones" style="order:37">28</div>
          <div class="day vacaciones" style="order:38">29</div>
          <div class="day vacaciones" style="order:39">30</div>
          <div class="day vacaciones" style="order:40">31</div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Enero</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day" style="order:10"> </div>
          <div class="day" style="order:11"> </div>
          <div class="day" style="order:12"> </div>
          <div class="day strong" style="order:13">1</div>
          <div class="day" style="order:14">2</div>
          <div class="day" style="order:15">3</div>
          <div class="day" style="order:16">4</div>
          <div class="day" style="order:17">5</div>
          <div class="day suspension" style="order:18">6</div>
          <div class="day" style="order:19">7</div>
          <div class="day" style="order:20">8</div>
          <div class="day" style="order:21">9</div>
          <div class="day" style="order:22">10</div>
          <div class="day" style="order:23">11</div>
          <div class="day" style="order:24">12</div>
          <div class="day" style="order:25">13</div>
          <div class="day" style="order:26">14</div>
          <div class="day" style="order:27">15</div>
          <div class="day" style="order:28">16</div>
          <div class="day" style="order:29">17</div>
          <div class="day" style="order:30">18</div>
          <div class="day" style="order:31">19</div>
          <div class="day" style="order:32">20</div>
          <div class="day" style="order:33">21</div>
          <div class="day" style="order:34">22</div>
          <div class="day" style="order:35">23</div>
          <div class="day" style="order:36">24</div>
          <div class="day" style="order:37">25</div>
          <div class="day" style="order:38">26</div>
          <div class="day" style="order:39">27</div>
          <div class="day consejo" style="order:40">28</div>
          <div class="day" style="order:41">29</div>
          <div class="day" style="order:42">30</div>
          <div class="day" style="order:43">31</div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Febrero</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day preinscripcion-sup  preinscripcion-izq" style="order:9">1</div>
          <div class="day preinscripcion-sup" style="order:10">2</div>
          <div class="day preinscripcion-sup" style="order:11">3</div>
          <div class="day preinscripcion-sup  preinscripcion-der" style="order:12">4</div>
          <div class="day strong" style="order:13">5</div>
          <div class="day" style="order:14">6</div>
          <div class="day strong suspension" style="order:15">7</div>
          <div class="day preinscripcion-izq" style="order:16">8</div>
          <div class="day" style="order:17">9</div>
          <div class="day preinscripcion-inf" style="order:18">10</div>
          <div class="day preinscripcion-der preinscripcion-inf" style="order:19">11</div>
          <div class="day" style="order:20">12</div>
          <div class="day" style="order:21">13</div>
          <div class="day preinscripcion-sup  preinscripcion-izq preinscripcion-inf" style="order:22">14</div>
          <div class="day preinscripcion-inf" style="order:23">15</div>
          <div class="day preinscripcion-der  preinscripcion-inf" style="order:24">16</div>
          <div class="day" style="order:25">17</div>
          <div class="day" style="order:26">18</div>
          <div class="day" style="order:27">19</div>
          <div class="day" style="order:28">20</div>
          <div class="day" style="order:29">21</div>
          <div class="day" style="order:30">22</div>
          <div class="day" style="order:31">23</div>
          <div class="day strong" style="order:32">24</div>
          <div class="day consejo" style="order:33">25</div>
          <div class="day" style="order:34">26</div>
          <div class="day" style="order:35">27</div>
          <div class="day" style="order:36">28</div>
          <div class="day" style="order:37"> </div>
          <div class="day" style="order:38"> </div>
          <div class="day" style="order:39"> </div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Marzo</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9">1</div>
          <div class="day" style="order:10">2</div>
          <div class="day" style="order:11">3</div>
          <div class="day" style="order:12">4</div>
          <div class="day" style="order:13">5</div>
          <div class="day" style="order:14">6</div>
          <div class="day" style="order:15">7</div>
          <div class="day" style="order:16">8</div>
          <div class="day" style="order:17">9</div>
          <div class="day" style="order:18">10</div>
          <div class="day" style="order:19">11</div>
          <div class="day" style="order:20">12</div>
          <div class="day" style="order:21">13</div>
          <div class="day" style="order:22">14</div>
          <div class="day" style="order:23">15</div>
          <div class="day" style="order:24">16</div>
          <div class="day" style="order:25">17</div>
          <div class="day administrativa" style="order:26">18</div>
          <div class="day" style="order:27">19</div>
          <div class="day" style="order:28">20</div>
          <div class="day strong suspension" style="order:29">21</div>
          <div class="day" style="order:30">22</div>
          <div class="day" style="order:31">23</div>
          <div class="day" style="order:32">24</div>
          <div class="day consejo" style="order:33">25</div>
          <div class="day" style="order:34">26</div>
          <div class="day" style="order:35">27</div>
          <div class="day boletas-sup boletas-izq boletas-inf" style="order:36">28</div>
          <div class="day boletas-sup boletas-inf" style="order:37">29</div>
          <div class="day boletas-sup boletas-inf" style="order:38">30</div>
          <div class="day boletas-sup boletas-der boletas-inf" style="order:39">31</div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Abril</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day" style="order:10"> </div>
          <div class="day" style="order:11"> </div>
          <div class="day" style="order:12">1</div>
          <div class="day" style="order:13">2</div>
          <div class="day" style="order:14">3</div>
          <div class="day" style="order:15">4</div>
          <div class="day" style="order:16">5</div>
          <div class="day" style="order:17">6</div>
          <div class="day" style="order:18">7</div>
          <div class="day" style="order:19">8</div>
          <div class="day" style="order:20">9</div>
          <div class="day" style="order:21">10</div>
          <div class="day vacaciones" style="order:22">11</div>
          <div class="day vacaciones" style="order:23">12</div>
          <div class="day vacaciones" style="order:24">13</div>
          <div class="day vacaciones" style="order:25">14</div>
          <div class="day vacaciones" style="order:26">15</div>
          <div class="day" style="order:27">16</div>
          <div class="day" style="order:28">17</div>
          <div class="day vacaciones" style="order:29">18</div>
          <div class="day vacaciones" style="order:30">19</div>
          <div class="day vacaciones" style="order:31">20</div>
          <div class="day vacaciones" style="order:32">21</div>
          <div class="day vacaciones" style="order:33">22</div>
          <div class="day" style="order:34">23</div>
          <div class="day" style="order:35">24</div>
          <div class="day" style="order:36">25</div>
          <div class="day" style="order:37">26</div>
          <div class="day" style="order:38">27</div>
          <div class="day" style="order:39">28</div>
          <div class="day consejo" style="order:40">29</div>
          <div class="day" style="order:41">30</div>
          <div class="day" style="order:42">31</div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Mayo</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day strong" style="order:7">1</div>
          <div class="day" style="order:8">2</div>
          <div class="day" style="order:9">3</div>
          <div class="day" style="order:10">4</div>
          <div class="day strong suspension" style="order:11">5</div>
          <div class="day" style="order:12">6</div>
          <div class="day" style="order:13">7</div>
          <div class="day" style="order:14">8</div>
          <div class="day" style="order:15">9</div>
          <div class="day" style="order:16">10</div>
          <div class="day" style="order:17">11</div>
          <div class="day" style="order:18">12</div>
          <div class="day" style="order:19">13</div>
          <div class="day" style="order:20">14</div>
          <div class="day strong" style="order:21">15</div>
          <div class="day" style="order:22">16</div>
          <div class="day" style="order:23">17</div>
          <div class="day" style="order:24">18</div>
          <div class="day" style="order:25">19</div>
          <div class="day" style="order:26">20</div>
          <div class="day" style="order:27">21</div>
          <div class="day" style="order:28">22</div>
          <div class="day" style="order:29">23</div>
          <div class="day" style="order:30">24</div>
          <div class="day" style="order:31">25</div>
          <div class="day" style="order:32">26</div>
          <div class="day consejo" style="order:33">27</div>
          <div class="day" style="order:34">28</div>
          <div class="day" style="order:35">29</div>
          <div class="day" style="order:36">30</div>
          <div class="day" style="order:37">31</div>
          <div class="day" style="order:38"> </div>
          <div class="day" style="order:39"> </div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Junio</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day" style="order:10">1</div>
          <div class="day" style="order:11">2</div>
          <div class="day" style="order:12">3</div>
          <div class="day" style="order:13">4</div>
          <div class="day" style="order:14">5</div>
          <div class="day" style="order:15">6</div>
          <div class="day" style="order:16">7</div>
          <div class="day" style="order:17">8</div>
          <div class="day" style="order:18">9</div>
          <div class="day" style="order:19">10</div>
          <div class="day" style="order:20">11</div>
          <div class="day" style="order:21">12</div>
          <div class="day" style="order:22">13</div>
          <div class="day" style="order:23">14</div>
          <div class="day" style="order:24">15</div>
          <div class="day" style="order:25">16</div>
          <div class="day administrativa" style="order:26">17</div>
          <div class="day" style="order:27">18</div>
          <div class="day" style="order:28">19</div>
          <div class="day" style="order:29">20</div>
          <div class="day" style="order:30">21</div>
          <div class="day" style="order:31">22</div>
          <div class="day" style="order:32">23</div>
          <div class="day consejo" style="order:33">24</div>
          <div class="day" style="order:34">25</div>
          <div class="day" style="order:35">26</div>
          <div class="day" style="order:36">27</div>
          <div class="day" style="order:37">28</div>
          <div class="day" style="order:38">29</div>
          <div class="day" style="order:39">30</div>
          <div class="day" style="order:40"> </div>
          <div class="day" style="order:41"> </div>
          <div class="day" style="order:42"> </div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
        <div class="month">
          <h4 style="font-size: 21px; margin-bottom: 6px;">Julio</h4>
          <div class="day OfWeek" style="order:0">D</div>
          <div class="day OfWeek" style="order:1">L</div>
          <div class="day OfWeek" style="order:2">M</div>
          <div class="day OfWeek" style="order:3">M</div>
          <div class="day OfWeek" style="order:4">J</div>
          <div class="day OfWeek" style="order:5">V</div>
          <div class="day OfWeek" style="order:6">S</div>
          <div class="day" style="order:7"> </div>
          <div class="day" style="order:8"> </div>
          <div class="day" style="order:9"> </div>
          <div class="day" style="order:10"> </div>
          <div class="day" style="order:11"> </div>
          <div class="day" style="order:12">1</div>
          <div class="day" style="order:13">2</div>
          <div class="day" style="order:14">3</div>
          <div class="day" style="order:15">4</div>
          <div class="day" style="order:16">5</div>
          <div class="day" style="order:17">6</div>
          <div class="day" style="order:18">7</div>
          <div class="day" style="order:19">8</div>
          <div class="day" style="order:20">9</div>
          <div class="day" style="order:21">10</div>
          <div class="day" style="order:22">11</div>
          <div class="day" style="order:23">12</div>
          <div class="day" style="order:24">13</div>
          <div class="day" style="order:25">14</div>
          <div class="day" style="order:26">15</div>
          <div class="day" style="order:27">16</div>
          <div class="day" style="order:28">17</div>
          <div class="day" style="order:29">18</div>
          <div class="day" style="order:30">19</div>
          <div class="day" style="order:31">10</div>
          <div class="day" style="order:32">21</div>
          <div class="day" style="order:33">22</div>
          <div class="day" style="order:34">23</div>
          <div class="day" style="order:35">24</div>
          <div class="day boletas-sup boletas-inf boletas-izq" style="order:36">25</div>
          <div class="day  boletas-sup boletas-inf" style="order:37">26</div>
          <div class="day boletas-sup boletas-inf" style="order:38">27</div>
          <div class="day  boletas-sup boletas-inf fin" style="order:39">28</div>
          <div class="day administrativa" style="order:40">29</div>
          <div class="day receso" style="order:41">30</div>
          <div class="day receso" style="order:42">31</div>
          <div class="day" style="order:43"> </div>
          <div class="day" style="order:44"> </div>
          <div class="day" style="order:45"> </div>
          <div class="day" style="order:46"> </div>
          <div class="day" style="order:47"> </div>
          <div class="day" style="order:48"> </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <h3 class="imgBW" style="font-size: 31px; margin-bottom: 10px;">Acotaciones</h3>
    <hr>
    <div class="row">
      <div class="col-12" style="display: flex;flex-wrap: wrap;">
        <div class="nomenclatura">
          <div class="indicador inici"></div><span>Inicio de cursos</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador fin"></div><span>Fin de cursos</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador receso"></div><span>Receso de clases</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador padres"></div><span>Sesión del Comité Participativo en Salud Escolar y Jornadas de
            limpieza en la Escuela</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador ins_start"></div><span>Inscripciones y reinscripciones Ciclo Escolar</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador actualizacion"></div><span>Taller intensivo de actualización docente</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador consejo"></div><span>Consejo Técnico Escolar</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador abandono-inf abandono-sup abandono-der abandono-izq"></div><span>Identificación del
            Abandono escolar y valoración diagnóstica</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador recuperacion-inf recuperacion-sup recuperacion-der recuperacion-izq"></div><span>Periodo
            extraordinario de recuperación</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador suspension"></div><span>Suspensión de labores docentes</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador fundacion"></div><span>Centenario de la Fundación de la Secretaría de Educación
            Pública<span></span></span>
        </div>
        <div class="nomenclatura">
          <div class="indicador administrativa"></div><span>Descarga administrativa</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador boletas-inf boletas-sup boletas-der boletas-izq"></div><span>Entrega de boletas de
            evaluaciones a las madres y padres de familia o tutores</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador vacaciones"></div><span>Vacaciones</span>
        </div>
        <div class="nomenclatura">
          <div class="indicador preinscripcion-der preinscripcion-izq preinscripcion-sup preinscripcion-inf"></div>
          <span>Periodo de preinscripción a preescolar, primer grado de primaria y primer grado de secundaria para el
            ciclo escolar 2022-2023</span>
        </div>
        <div class="nomenclatura">
          <div class=" strong" style="font-variant: small-caps;">negrillas</div><span>Señalan reflexión días
            conmemorativos.</span>
        </div>
        <!--strong>ACTIVIDADES A REALIZAR AL REINICIO DE CLASES PRESENCIALES, EN FUNCIÓN DEL SEMÁFORO EPIDEMIOLÓGICO EN VERDE:</strong>
                  <ul style="border: 2px solid black; padding: 1em; list-style: disc; list-style-position: inside;">
                      <li>INSTALACIÓN DE LA COMISIÓN DE SALUD</li>
                      <li>LIMPIEZA PROFUNDA DEL PLANTEL</li>
                      <li>REUNIÓN CON MADRES, PADRES DE FAMILIA O TUTORES</li>
                      <li>CONSEJO TÉCNICO ESCOLAR</li>
                      <li>PERÍODO DE NIVELACIÓN</li>
                  </ul-->
      </div>
    </div>
  </div>
</div>
