<div class="color-rds" matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between start">
  <h2>{{(data.isNew) ? 'Crea' : 'Modifica'}} un grupo</h2>
  <mat-icon matDialogClose mat-icon-button>close</mat-icon>
</div>
<form [formGroup]="formData" (ngSubmit)="saveData()">
  <mat-dialog-content>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Grado</mat-label>
      <mat-select formControlName="label" placeholder="Selecciona el grado escolar">
        <mat-option *ngFor="let key of slevelKeys" [value]="key">
          {{slevels[key]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Ciclo escolar</mat-label>
      <mat-select formControlName="cycle" placeholder="Ciclo escolar">
        <mat-option *ngFor="let cycle of cycleKeys" [value]="cycle">
          {{cycles[cycle]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- <button *ngIf="data.isNew" mat-stroked-button color="accent" type="reset" (click)="resetData()">Limpiar</button> -->
    <!-- <button *ngIf="!data.isNew" mat-stroked-button color="warn" matDialogClose>Cancelar</button> -->
    <button mat-stroked-button color="primary" type="submit" (click)="saveData()"
      [disabled]="!formData.dirty || formData.untouched || formData.invalid">{{(data.isNew) ?
      'Crear' : 'Modificar'}}</button>
  </mat-dialog-actions>
</form>
