<footer class="px-4" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between center"
  fxLayoutAlign.lt-sm="center center">
  <div> 2022 &copy; Escuela Rafael D&iacute;az Serd&aacute;n</div>
  <div>
    <a mat-icon-button href="https://github.com/jcmelchorp" target="_blank" aria-hidden="false">
      <fa-icon [icon]="github" size="lg"></fa-icon>
    </a>
    <a mat-icon-button href="https://twitter.com/Escuela_RDS" target="_blank" aria-hidden="false">
      <fa-icon [icon]="twitter" size="lg"></fa-icon>
    </a>
    <a mat-icon-button href="https://www.facebook.com/RDSLaFallito" target="_blank" aria-hidden="false">
      <fa-icon [icon]="facebook" size="lg"></fa-icon>
    </a>
    <a mat-icon-button href="https://www.youtube.com/channel/UCaLHQNiiw1y1yKkON61mGTw" target="_blank"
      aria-hidden="false">
      <fa-icon [icon]="faYoutube" size="lg"></fa-icon>
    </a>
  </div>
</footer>
