.mat-column-cycle {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 0% !important;
  width: 0% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-grades {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100% !important;
  width: 100% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
table .mat-table {
  height: 40px; /* default is 72px */
}
