<div [ngClass]="{'theme-alternate': isDarkTheme | async}" fxLayout="column" fxFlexFill>
  <app-header fxFlex class="d-print-none" [user]="(user$|async)" [isHandset]="(isHandset$|async)"
    [isAdmin]="(isAdmin$|async)" [isTeacher]="(isTeacher$|async)" [isOnline]="(isOnline$|async)">
    <mat-progress-bar name="progressBar" *ngIf="loading" mode="query" color="primary">
    </mat-progress-bar>
  </app-header>
  <app-sidenav fxFlex [isHandset]="(isHandset$|async)" [isOnline]="(isOnline$|async)" [user]="(user$|async)"
    [isAdmin]="(isAdmin$|async)" [isTeacher]="(isTeacher$|async)">
  </app-sidenav>
</div>
