@use "./../../../../assets/themes/colors" as colors;
.breadcrumb {
  background: none;
  // font-size: calc(0.5rem + 1vw);
  font-family: "poppins", cursive;
  //text-shadow: -2px -1px 1px colors.$text-shadow-color; */
  margin: 0;

  a:hover,
  span:hover {
    color: colors.$rds-logo-color;
    text-decoration: none;
  }
  li {
    list-style: none;
    float: left;
    margin: 5px;
  }
  li:last-child {
    margin-right: 20px;
  }
  li::after {
    content: "->";
    color: colors.$rds-logo-alpha-color;
  }
  li:last-child::after {
    content: "";
  }
}
