<form [formGroup]="filterValues">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
    <mat-form-field appearance="outline" fxFlex="1 0 calc(33.3% - 5px)">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Buscar por nombre">
      <button mat-icon-button matSuffix (click)="filterValues.controls.name.reset();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="1 0 calc(33.3% - 5px)">
      <mat-label>Grado escolar</mat-label>
      <mat-select formControlName="grade" placeholder="Selecciona un grado">
        <mat-option [value]="">Todos los grados</mat-option>
        <mat-option *ngFor="let key of gradeKeys" [value]="key">
          {{key}}
        </mat-option>
      </mat-select>
      <button mat-icon-button matSuffix (click)="filterValues.controls.grade.reset();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
<div *ngIf="(filteredEntities$|async) as filteredEntities;else spinner" class="card bg-transparent">
  <div class="card-body">
    <h2 style="margin-top: -30px" fxLayout="row" fxLayoutAlign="space-between">
      <div class="mcard-title bg-white">Materias</div>
      <div fxLayoutGap="10px">
        <button color="default" mat-mini-fab matTooltip="Nuevo curso" (click)="openSchoolCourseDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button color="default" mat-mini-fab matTooltip="Cargar archivo de materias" (click)="loadFile()">
          <mat-icon>upload</mat-icon>
        </button>
        <button color="default" mat-mini-fab matTooltip="Guardar lista en archivo" (click)="saveFile()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </h2>
    <div>Agrupar elementos por:</div>
  </div>
  <app-school-courses-grouped-by-table [initialData]="filteredEntities" (onClickDelete)="handleCourseDelete($event)"
    (onClickEdit)="openSchoolCourseDialog($event)" (onClickStudents)="editCourse($event)">
  </app-school-courses-grouped-by-table>
  <!-- <router-outlet></router-outlet> -->
</div>
<ng-template #spinner>
  <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="10" [diameter]="100">
    </mat-spinner>
    <span>Buscando clases ...</span><br>
  </div>
</ng-template>
